include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            main.main
                .burger
                    span
                    span
                    span
                    span
                    span
                .mob-bg-close
                aside.sidebar
                    .sidebar-wrap
                        .sidebar-top
                            .logo
                                p
                                    img(src='img/Logo.png')
                            .sidebar-location
                                a(href='https://yandex.ua/maps/35/krasnodar/?lang=ru&mode=search&text=%D0%B3.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%2C%20127&sll=30.523541%2C50.450418&sspn=0.504684%2C0.184791&ll=38.975250%2C45.040878&z=17' target='_blank') г. Краснодар, ул. Красная, 127
                                .sidebar-phone
                                    a(href='tel:89182100505') 8 (918) 210-05-05
                            .sidebar-callback
                                a(href='#')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.1 334.02"><defs><style>.cls-1{}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,55.87c1.6-6.6,3.1-13.2,5-19.7.9-3.1,2.6-6.1,4-9.4,27.2,27.7,54,54.9,81.1,82.5-6.9,7.4-5.7,16.7-.3,25.5,4.9,8,10,16.2,16.5,22.9,23.6,24.4,47.9,48.1,71.9,72.2,9.8,9.8,21.9,15.5,34.6,20.3,4.4,1.7,8.2-.1,11.6-2.7,1.4-1.1,2.7-2.4,4.3-3.8l80.7,82.2a38.1,38.1,0,0,1-18.7,7c-37.9,3.8-73.5-1.4-106.9-21.9-50.7-31.1-95.2-68.8-132.3-115.2-17.3-21.7-33-44.6-41.3-71.3C6,110.88,4,96.58,1,82.58c-.3-1.3-.7-2.5-1-3.7C0,71.17,0,63.57,0,55.87Z"/><path class="cls-1" d="M338,294.87c-3.8,9.1-11.3,14.9-18.2,21.3-27.2-27.4-54.3-54.6-80.7-81.3,4.4-4.8,8.8-10.2,14.1-14.8,1.9-1.6,6.2-2,8.6-1.1a34.16,34.16,0,0,1,10.7,7c20.2,19.6,40.2,39.4,60.2,59.1,1.9,1.8,3.6,3.8,5.4,5.7C338,292.17,338,293.58,338,294.87Z"/><path class="cls-1" d="M101.8,97.37q-41.7-40.8-82.1-80.5C24.8,11.37,29.5,5.77,35,1c1.7-1.4,5.7-1.1,8.3-.3s4.8,2.9,6.8,4.8q30.3,29.7,60.5,59.7a42.85,42.85,0,0,1,4,4.5c4.7,6.5,4.4,10-1.1,15.7Z"/></g></g></svg>
                                    | Заказать звонок
                        nav.sidebar-nav
                            ul.menu
                                li
                                    a(href='index.html') Главная
                                li
                                    a(href='construction_works.html') Строительные работы
                                li.active
                                    a(href='block-modular_installations.html') Блочно-модульные установки
                                li
                                    a(href='oil_gas_petrochemical_equipment.html') Нефтегазовое и нефтехимическое оборудование
                                li
                                    a(href='power_equipment.html') Энергетическое оборудование
                                li
                                    a(href='installations_for_measuring_debit_wells.html') Установки для замера<br> дебета скважин
                                li
                                    a(href='design_work.html') Проектные работы
                                li
                                    a(href='constructor_work.html') Конструкторские работы
                                li
                                    a(href='installation_commissioning_works.html') Монтажные<br> и пуско-наладочные работы
                                li
                                    a(href='about.html') О компании

                .main-wrap
                    .main-language(style="background-image: url('img/top_bg.jpg');")
                        a(href='./en/block-modular_installations.html') Switch to English
                    .main-container
                        .content
                            .content-img
                                img(src='img/block_modul/img_b_1.jpg' alt='img_1_b')
                            h2 БЛОЧНО-МОДУЛЬНЫЕ УСТАНОВКИ
                            p Блоки оборудования ООО НПО «НГА» имеют максимальную заводскую готовность , поставляются в блочно-модульном исполнении, с запорно-регулирующей арматурой, приборами КИПиА, трубной обвязкой, площадками обслуживания, пунктами управления и автоматизации, оборудованы всеми необходимыми системами и удобны в транспортировке. Все производимое оборудование изготавливается из углеродистых, нержавеющих, молибденовых сталей и титана, рабочим давлением до 50 МПА.
                            b Налажен выпуск следующего блочно-модульного оборудования:
                            ul.contentList_2
                                li
                                    h5 Блоки подготовки пускового и топливного газа БПТГ
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_1.jpg' alt='img')
                                        .contentList_2-desc
                                            p БПТГ предназначен для подготовки, доочистки, редуцирования, нагрева, замера расхода и бесперебойной подачи газа с параметрами, необходимыми для нормальной работы компрессорных станций, газотурбинных электростанций и прочих производственных объектов использующих газ.
                                li
                                    h5 Блоки очистки топливного газа
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_2.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок предназначен для очистки газа от жидкости и механических примесей. Состоит из двух технологических линий (основной и резервной) в каждую линию входит фильтр-сепаратор, трубопроводная обвязка с запорной и регулирующей арматурой, приборами КИПиА, площадками обслуживания, пунктами управления и автоматизации,и поставляются в комплектном виде полной заводской готовности. Наличие адаптивной интеграции в систему АСУТП.
                                li
                                    h5 Блоки подготовки газа высокого давления
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_3.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок предназначен для очистки углеводородного газа рабочим давлением до 45,0МПа от механических примесей и влаги, подогрева газа для компенсации эффекта дросселирования и обеспечения положительной температуры газа к потребителю, хозяйственного учета газа. Наличие адаптивной интеграции в систему АСУТП. Блоки поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блоки сепараторов тонкой очистки газа
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_4.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок предназначен для очистки технологического газа от капельной жидкости и механических примесей в технологической схеме компримирования попутного нефтяного газа, степень очистки блока 99,99%. Состоит из двух технологических линий (основной и резервной) в каждую входит фильтр-сепаратор, трубопроводная обвязка с запорной и регулирующей арматурой, приборами КИПиА, площадками обслуживания и поставляются в комплектном виде полной заводской готовности. Наличие адаптивной интеграции в систему АСУТП.
                                li
                                    h5 Блок дегазатора
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_5.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок предназначен для разгазирования жидкости (вода, нефть, газ, конденсат). Состоит из одного или двух дегазаторов на раме, трубопроводная обвязка с запорной и регулирующей арматурой, приборами КИПиА, площадками обслуживания и поставляются в комплектном виде полной заводской готовности. Наличие адаптивной интеграции в систему АСУТП.
                                li
                                    h5 Блоки Стабилизации Конденсата БСК
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_6.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок предназначен для удаления легких углеводородов, получения стабильного газового конденсата, обеспечение требуемых значений давления  насыщенных паров  путем отгонки легких фракций. Состоит из трехфазного сепаратора, колоны стабилизации, аппарата воздушного охлаждения трубопроводной обвязки с запорной и регулирующей арматурой, приборами КИПиА, площадками обслуживания, пунктами управления и автоматизации. Наличие адаптивной интеграции в систему АСУТП. Поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блок Нефтегазоводоразделителя с прямым подогревом НГВРП
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_7.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок предназначен для дегазации и нагрева продукции скважин, предварительного глубокого обезвоживания нефти, очистки пластовой воды, в том числе для ее последующей закачки. Состоит из цилиндрического аппарата объемом до 200м3 с дымовыми трубами, секцией нагрева, трубопроводной обвязки, запорной и регулирующей арматурой, приборами КИПиА, блок-боксом и пунктами управления и автоматизации, адаптивная интеграция в систему АСУТП. Поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блоки электродегидратора
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_8.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блоки предназначены для обезвоживания и обессоливания нефти и отделения газов и воды из потока нефти. Состоит из трехфазного сепаратора, электродегидратора, электрооборудования, смесителя, трубопроводной обвязки, запорной и регулирующей арматурой, приборами КИПиА, отапливаемого блок-бокса с системами безопасности, пунктами управления и автоматизации на единой несущей раме! Поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блок подогревателя газа с промежуточным теплоносителем
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_9.jpg' alt='img')
                                        .contentList_2-desc
                                            p Предназначен для непрямого нагрева природного и попутного нефтяного газа. Блоки подогревателя газа поставляются комплексно с блоком управления подогревателем газа, системой автоматики, газорегуляторным пунктом, запорной и регулирующей арматурой, приборами КИПиА, системами безопасности, пунктами управления и автоматизации на единой несущей раме! Поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блок огневой регенерации ТЭГа
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_10.jpg' alt='img')
                                        .contentList_2-desc
                                            p Блок состоит из емкости буферной, испарителя огневого, колонны выпарной, площадки обслуживания, рамы, трубопроводов, запорной и регулирующей арматурой, приборами КИПиА, системами безопасности, пунктами управления и автоматизации. Поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блоки учета газа
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_11.jpg' alt='img')
                                        .contentList_2-desc
                                            p Предназначен для коммерческого учета расхода объема природного газа, приведенного к нормальным условиям, и последующей передачи информации в другие системы. Блоки могут изготавливаться с применением турбинных счетчиков, с измерительной диафрагмой, с вихревыми, ультразвуковыми расходомерами, с электронными корректорами по температуре и давлению газа.Поставляются в комплектном виде полной заводской готовности.
                                li
                                    h5 Блок емкости дренажной
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='img/block_modul/img_12.jpg' alt='img')
                                        .contentList_2-desc
                                            p Предназначен для сбора жидкостей и мехпримесей. Состоит из емкости, распределительной камеры (при необходимости), насоса (при необходимости), трубного пучка, запорной и регулирующей арматуры, приборов КИПиА обеспечивающими функции контроля и автоматического управления. Поставляются в комплектном виде полной заводской готовности.
                            .blue-block
                                p Производство всего оборудования выполняется по Российским стандартам, согласно ГОСТ, по желанию заказчика выполняем изготовление согласно Американских национальных стандартов ASME (American Society of Mechanical Engineers). При изготовлении оборудования используются марки сталей наивысшего качества. На все выпускаемое нами оборудование действует Мировая гарантия 36 месяцев с момента отгрузки.
                            include componets/f1
                            include componets/partners
                    include componets/footer
        include componets/scripts