include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            main.main
                .burger
                    span
                    span
                    span
                    span
                    span
                .mob-bg-close
                aside.sidebar
                    .sidebar-wrap
                        .sidebar-top
                            .logo
                                p
                                    img(src='img/Logo.png')
                            .sidebar-location
                                a(href='https://yandex.ua/maps/35/krasnodar/?lang=ru&mode=search&text=%D0%B3.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%2C%20127&sll=30.523541%2C50.450418&sspn=0.504684%2C0.184791&ll=38.975250%2C45.040878&z=17' target='_blank') г. Краснодар, ул. Красная, 127
                                .sidebar-phone
                                    a(href='tel:89182100505') 8 (918) 210-05-05
                            .sidebar-callback
                                a(href='#')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.1 334.02"><defs><style>.cls-1{}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,55.87c1.6-6.6,3.1-13.2,5-19.7.9-3.1,2.6-6.1,4-9.4,27.2,27.7,54,54.9,81.1,82.5-6.9,7.4-5.7,16.7-.3,25.5,4.9,8,10,16.2,16.5,22.9,23.6,24.4,47.9,48.1,71.9,72.2,9.8,9.8,21.9,15.5,34.6,20.3,4.4,1.7,8.2-.1,11.6-2.7,1.4-1.1,2.7-2.4,4.3-3.8l80.7,82.2a38.1,38.1,0,0,1-18.7,7c-37.9,3.8-73.5-1.4-106.9-21.9-50.7-31.1-95.2-68.8-132.3-115.2-17.3-21.7-33-44.6-41.3-71.3C6,110.88,4,96.58,1,82.58c-.3-1.3-.7-2.5-1-3.7C0,71.17,0,63.57,0,55.87Z"/><path class="cls-1" d="M338,294.87c-3.8,9.1-11.3,14.9-18.2,21.3-27.2-27.4-54.3-54.6-80.7-81.3,4.4-4.8,8.8-10.2,14.1-14.8,1.9-1.6,6.2-2,8.6-1.1a34.16,34.16,0,0,1,10.7,7c20.2,19.6,40.2,39.4,60.2,59.1,1.9,1.8,3.6,3.8,5.4,5.7C338,292.17,338,293.58,338,294.87Z"/><path class="cls-1" d="M101.8,97.37q-41.7-40.8-82.1-80.5C24.8,11.37,29.5,5.77,35,1c1.7-1.4,5.7-1.1,8.3-.3s4.8,2.9,6.8,4.8q30.3,29.7,60.5,59.7a42.85,42.85,0,0,1,4,4.5c4.7,6.5,4.4,10-1.1,15.7Z"/></g></g></svg>
                                    | Заказать звонок
                        nav.sidebar-nav
                            ul.menu
                                li
                                    a(href='index.html') Главная
                                li
                                    a(href='construction_works.html') Строительные работы
                                li
                                    a(href='block-modular_installations.html') Блочно-модульные установки
                                li.active
                                    a(href='oil_gas_petrochemical_equipment.html') Нефтегазовое и нефтехимическое оборудование
                                li
                                    a(href='power_equipment.html') Энергетическое оборудование
                                li
                                    a(href='installations_for_measuring_debit_wells.html') Установки для замера<br> дебета скважин
                                li
                                    a(href='design_work.html') Проектные работы
                                li
                                    a(href='constructor_work.html') Конструкторские работы
                                li
                                    a(href='installation_commissioning_works.html') Монтажные<br> и пуско-наладочные работы
                                li
                                    a(href='about.html') О компании

                .main-wrap
                    .main-language(style="background-image: url('img/top_bg.jpg');")
                        a(href='./en/separator_shcelevoy.html') Switch to English
                    .main-container
                        .content
                            .content-img
                                img(src='img/Separator2.jpg')
                            h2 Сепараторы щелевые высокоэффективные марки СЩВ
                            h4 НАЗНАЧЕНИЕ
                            h6 Добыча и подготовка природного газа:
                            ul.contentList_3
                                li На пунктах предварительного сбора газожидкостной смеси, при подготовке к раздельному транспорту газа и жидкости до пунктов их дальнейшей утилизации или переработки;
                                li При подготовке газа методом низкотемпературной сепарации (НТС);
                                li При подготовке газа абсорбционным методом в качестве высокоэффективных первичных сепараторов, при этом блоки сепараторов, учитывая их малые габариты, можно объединить в один комплекс (цех) для улавливания капельной жидкости на выходе из установки подготовки газа;
                                li На дожимных компрессорных станциях (ДКС) для защиты компрессорного оборудования;
                                li Для эффективной сепарации сырьевого газа с большим содержанием жидкой фазы на завершающей стадии разработки газовых и газоконденсатных месторождений;
                                li В передвижных малогабаритных установках для подготовки газа на малых месторождениях;
                                li В качестве сепаратора второй ступени сепарации в исследовательских передвижных сепарационных установках (ПСУ) для проведения исследований на газовых и газоконденсатных месторождениях.
                            h6 Добыча и промысловая подготовка нефти:
                            ul.contentList_3
                                li На установках подготовки нефти в качестве сепараторов различных ступеней сепарации попутных нефтяных газов;
                                li В качестве сепаратора второй ступени сепарации в исследовательских установках для определения состава пластового.
                            h6 Магистральный транспорт и распределение газа:
                            ul.contentList_3
                                li На линейных компрессорных станциях (КС) в цехах подготовки газа в качестве пробкоуловителей, пыльников и сепараторов капельной жидкости;
                                li На газораспределительных станциях (ГРС, АГРС) в качестве сепараторов капельной жидкости с целью предотвращения попадания жидкой фазы в газовые сети низкого и среднего давления.
                            h6 Подготовка топливного газа для электростанций в полевых условиях:
                            ul.contentList_3
                                li Подготовка топливного газа для электростанций, работающих непосредственно на месторождениях с целью выработки электроэнергии, необходимой для разработки и эксплуатации месторождений. На любых производствах при очистке газа (воздуха) от жидких и механических примесей, для получения однофазного газового потока.
                            h4 УСТРОЙСТВО И ПРИНЦИП РАБОТЫ
                            ul.contentList_3
                                li Газожидкостная смесь подводится в аппарат через входной патрубок (2), расположенный в верхней части аппарата. Радиальное расположение входного патрубка позволяет не ослаблять прочностные характеристики корпуса сепаратора. Вертикально расположенные пластины (б) и (7), установленные в этом патрубке, формируют поток таким образом, что в корпус аппарата он поступает, сохраняя свою центробежную силу, т.е. как будто бы поток подавался в сепаратор тангенциально. Потеря давления во входном патрубке при его радиальном расположении с наличием в патрубке вертикальных пластин (6) и (7) снизилась на 65% по сравнению с аналогичным подводом газа без пластин. Дефлектор (8) препятствует поступлению газа в осевую зону сепарационного пакета без предварительного разделения газовзвеси. В пространстве, образованном стенкой корпуса (1) и пластинами (3), (4), (5), из газового потока сепаратора и под действием гравитационных сил, по ходу газового потока, по нисходящей спирали транспортируются через кольцевой зазор (11) к сливному патрубку(12).
                                li Мелкодисперсная капельная жидкость, не осевшая на корпусе (1) попадает на наружную поверхность пластин (5) и транспортируется газовым потоком через входные тангенциальные щели, попадая на их внутреннюю поверхность. Применение вертикальных плоских пластин, согнутых под определенным углом, позволяет жидкостной пленке, движущейся по ходу вращения газового потока, транспортироваться с конца одной пластины на начало другой за счет сил инерции, тем самым жидкая фаза в виде пленки не успевает распылиться в мелкодисперсную жидкость внутри сепарационного элемента, что, в свою очередь, положительно сказывается на эффективности сепарации.
                                li Транспортируясь с пластины на пластину, жидкость с небольшим количеством газа направляется в отводной канал (13), откуда по сужающимся по ходу вращения газового потока желобам (14) отбрасывается к стенке корпуса (1 ) с последующим удалением отсепарированной жидкости через сливной патрубок (12). Образовавшаяся в нижней части сепарационного элемента жидкостная пленка, не успевшая попасть в нижний сливной желоб, удаляется из села рационного элемента через кольцевой зазор, образованный плоским днищем (15) и пластинами (5). Радиальные пластины, (16) с закрепленным к ним в нижней части ложным днищем (17), исключают вращательный эффект газового потока под ложным днищем, что беспрепятственно способствует стеканию отсепарированной жидкости с нижних кромок пластин через кольцевой зазор (1 1) к патрубку (12). Шайба (20) препятствует возникновению вращающегося вихря над патрубком, что значительно улучшает слив жидкости из аппарата. Остаток мелкодисперсной капельной жидкости улавливается в конфузоре (9) кольцевыми горизонтальными и вертикальными щелевыми каналами. Жидкостная пленка, транспортируясь по спирали вниз по внутренней поверхности конусной части отражателя, совместно с незначительной частью газового потока, наталкивается на пористое кольцо. Проходя через это кольцо, газожидкостный поток рассеивается, теряя при этом скорость своего движения, как следствие, жидкость оседает на кольцевую перегородку (18), а очищенный газовый поток, смешиваясь с основным потоком, удаляется из аппарата через выходной патрубок (19). Отбитая камерой (10) жидкость стекает через кольцевой зазор (11) и удаляется из сепаратора через сливной патрубок (12).
                            h4 ОТЛИЧИТЕЛЬНЫЕ ОСОБЕННОСТИ
                            ul.contentList_3
                                li Высокая эффективность сепарации сохраняется во всем диапазоне нагрузок по жидкой и газовой фазам (от 20% до 120% от номинальной производительности);
                                li Низкая металлоемкость и малые габаритные размеры;
                                li Возможность объединения в одном аппарате сепаратора и разделителя жидкости;
                                li Отсутствие сменных фильтрующих элементов, трущихся и вращающихся частей;
                                li Рабочая среда — воздух, газ, газожидкостная смесь, насыщенный пар;
                                li Эффективность сепарации — 99,99%‚ (менее 2-3 мкм жидких и механических примесей на выходе из сепаратора);
                                li Содержание взвешенных частиц на выходе соответствует нормам «воздух кл1» ГОСТ17433-80;
                                li Низкая потеря напора за счет особой конструкции сепарационного пакета и входного патрубка
                                li Устойчивая работа в пробковом режиме;
                                li Гарантийный срок эксплуатации — 25 лет с момента изготовления аппарата;
                                li Мировая гарантия на сепараторы производства НПО «НГА» составляет 36 месяцев с момента изготовления;
                                li Сепаратор СЩВ поставляется в блоке полной заводской готовности, включающий в себя весь необходимый комплект запорно-регулирующей арматуры и приборов КИПиА.
                                li Изготовление сепараторов СЩВ выполняется по Российским стандартам, согласно ГОСТ, а так же согласно международных стандартов ASME (American Society of Mechanical Engineers)
                            .table-block
                                .table-content
                                    h4 ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
                                    table.table_1
                                        tbody
                                            tr
                                                td Производительность, м3/час
                                                td От 1 до 1 500 000
                                            tr
                                                td Рабочее давление, МПа (кгс/см2)
                                                td От 0,1 (1) до 45 (450)
                                            tr
                                                td Рабочая температура, 0С
                                                td От -70 до +400
                                            tr
                                                td Диаметр аппарата, мм
                                                td От 125 до 3600
                                            tr
                                                td Материальное исполнение корпуса, опоры
                                                td Углеродистые, нержавеющие и молибденовые стали
                                            tr
                                                td Материал внутренних устройств
                                                td Углеродистые, нержавеющие и молибденовые стали
                                .table-img
                                    img(src='img/Separator4.jpg' alt='img')
                            include componets/f1
                            include componets/partners
                    include componets/footer
        include componets/scripts