include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            main.main
                .burger
                    span
                    span
                    span
                    span
                    span
                .mob-bg-close
                aside.sidebar
                    .sidebar-wrap
                        .sidebar-top
                            .logo
                                p
                                    img(src='../img/Logo.png')
                            .sidebar-location
                                a(href='https://yandex.ua/maps/35/krasnodar/?lang=ru&mode=search&text=%D0%B3.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%2C%20127&sll=30.523541%2C50.450418&sspn=0.504684%2C0.184791&ll=38.975250%2C45.040878&z=17' target='_blank') Krasnodar, st. Red, 127
                                .sidebar-phone
                                    a(href='tel:89182100505') 8 (918) 210-05-05
                            .sidebar-callback
                                a(href='#')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.1 334.02"><defs><style>.cls-1{}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,55.87c1.6-6.6,3.1-13.2,5-19.7.9-3.1,2.6-6.1,4-9.4,27.2,27.7,54,54.9,81.1,82.5-6.9,7.4-5.7,16.7-.3,25.5,4.9,8,10,16.2,16.5,22.9,23.6,24.4,47.9,48.1,71.9,72.2,9.8,9.8,21.9,15.5,34.6,20.3,4.4,1.7,8.2-.1,11.6-2.7,1.4-1.1,2.7-2.4,4.3-3.8l80.7,82.2a38.1,38.1,0,0,1-18.7,7c-37.9,3.8-73.5-1.4-106.9-21.9-50.7-31.1-95.2-68.8-132.3-115.2-17.3-21.7-33-44.6-41.3-71.3C6,110.88,4,96.58,1,82.58c-.3-1.3-.7-2.5-1-3.7C0,71.17,0,63.57,0,55.87Z"/><path class="cls-1" d="M338,294.87c-3.8,9.1-11.3,14.9-18.2,21.3-27.2-27.4-54.3-54.6-80.7-81.3,4.4-4.8,8.8-10.2,14.1-14.8,1.9-1.6,6.2-2,8.6-1.1a34.16,34.16,0,0,1,10.7,7c20.2,19.6,40.2,39.4,60.2,59.1,1.9,1.8,3.6,3.8,5.4,5.7C338,292.17,338,293.58,338,294.87Z"/><path class="cls-1" d="M101.8,97.37q-41.7-40.8-82.1-80.5C24.8,11.37,29.5,5.77,35,1c1.7-1.4,5.7-1.1,8.3-.3s4.8,2.9,6.8,4.8q30.3,29.7,60.5,59.7a42.85,42.85,0,0,1,4,4.5c4.7,6.5,4.4,10-1.1,15.7Z"/></g></g></svg>
                                    | Request a call
                        nav.sidebar-nav
                            ul.menu
                                li
                                    a(href='index.html') HOME PAGE
                                li
                                    a(href='construction_works.html') CONSTRUCTION WORKS
                                li.active
                                    a(href='block-modular_installations.html') BLOCK-MODULAR INSTALLATIONS
                                li
                                    a(href='oil_gas_petrochemical_equipment.html') OIL AND GAS INDUSTRY, PETROCHEMICAL EQUIPMENT
                                li
                                    a(href='power_equipment.html') ENERGY EQUIPMENT
                                li
                                    a(href='installations_for_measuring_debit_wells.html') NSTALLATION FOR MEASURING DEBIT OF WELLS
                                li
                                    a(href='design_work.html') PROJECT WORKS
                                li
                                    a(href='constructor_work.html') DESIGN WORKS
                                li
                                    a(href='installation_commissioning_works.html') MOUNTIG AND START-UP WORKS
                                li
                                    a(href='about.html') ABOUT COMPANY
                .main-wrap
                    .main-language(style="background-image: url('../img/top_bg.jpg')")
                        a(href='../block-modular_installations.html') Switch to Russian
                    .main-container
                        .content
                            .content-img
                                img(src='../img/block_modul/img_b_1.jpg' alt='img_1_b')
                            h2 BLOCK-MODULAR INSTALLATIONS
                            p Equipment blocks from LLC S&PA “NGA” have a maximum factory preparedness, are supplied in block-modular design with shut-off and control valves, instrumentation and automation device, piping, service areas, points of control and automation, equipped with all necessary systems and easy to transport. All manufactured equipment is made of carbon, stainless, molybdenum steels and titanium, working pressure up to 50 MPa.
                            b The release of the next block-modular equipment:
                            ul.contentList_2
                                li
                                    h5 Pre-launch and fuel gas preparation units PFGPU.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_1.jpg' alt='img')
                                        .contentList_2-desc
                                            p PFGPU is designed for preparation, post-cleaning, reduction, heating, consumption measurement and uninterrupted gas supply with the parameters necessary for normal operation of compressor stations, gas turbine power stations and other production facilities using gas.
                                li
                                    h5 Fuel gas cleaning units.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_2.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for gas purification from liquid and mechanical impurities. It consists of two processing lines (main and backup), each includes a filter-separator, piping with shut-off and control valves, instrumentation and automation device, service areas, points of control and automation, and are supplied by complete set of factory readiness. Availability of adaptive integration into the process control system.
                                li
                                    h5 High pressure gas preparation units.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_3.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for cleaning hydrocarbon gas with working pressure up to 45.0 MPa from mechanical impurities and liquid, gas heating for to compensate for throttling effect and ensuring a positive gas temperature to the consumer, gas reduction, regulation of gas consumption to the consumer, economic accounting of gas. Availability of adaptive integration into the process control system. The units are supplied by complete set of factory readiness.
                                li
                                    h5 Fine gas cleaning separators units.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_4.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for cleaning of process gas from liquid and mechanical impurities in technological scheme of compression of associated petroleum gas, degree of cleaning unit is 99,99%. It consists of two processing lines (main and backup), each includes a filter-separator, piping with shut-off and control valves, instrumentation and automation device, service areas and are supplied by complete set of factory readiness. Availability of adaptive integration into the process control system.
                                li
                                    h5 Degasser unit.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_5.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for degassing the liquid (water, oil, gas, condensate). It consists of one or two degassers on the frame, piping with shut-off and control valves, instrumentation and automation device, service areas and are supplied by complete set of factory readiness. Availability of adaptive integration into the process control system.
                                li
                                    h5 Condensate Stabilization Units CSU.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_6.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for the removal of light hydrocarbons, obtaining stable gas condensate, ensuring the required saturated vapor pressure by stripping light ends. It consists of a three-phase separator, stabilization columns, air cooler of piping with shut-off and control valves, instrumentation and automation device, service areas, points of control and automation. Availability of adaptive integration into the process control system. They are supplied by complete set of factory readiness.
                                li
                                    h5 Oil, gas and water Separator Unit with direct heating OGWSU by Heater-Treater type.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_7.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for degassing and heating of well production, preliminary deep dehydration of oil, reservoir water treatment, including for its subsequent downloading. It consists of a cylindrical apparatus with a volume of up to 200 m3 with chimneys, heating section, piping, shut-off and control valves, instrumentation and automation device, block-box and points of control and automation, adaptive integration into the process control system. It is supplied by complete set of factory readiness.
                                li
                                    h5 Electric Dehydrator Units.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_8.jpg' alt='img')
                                        .contentList_2-desc
                                            p The units are designed for dehydration and desalting of oil and separation of gases and water from the oil stream. It consists of a three-phase separator, electric dehydrator, electrical equipment, mixer, piping, shut-off and control valves, instrumentation and automation device, heated block-box with security systems, points of control and automation on a single support frame. They are supplied by complete set of factory readiness.
                                li
                                    h5 Gas heater unit with intermediate coolant.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_9.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for indirect heating of natural and associated petroleum gas. Gas heater units are supplied with gas heater control unit, automation system, gas regulation point, shut-off and control valves, instrumentation and automation device, security systems, points of control and automation on a single support frame. It is supplied by complete set of factory readiness.
                                li
                                    h5 Unit of Triethylene glycol fire regeneration.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_10.jpg' alt='img')
                                        .contentList_2-desc
                                            p The block consists of a buffer tank, firing evaporator, evaporating column, service area, pipeline frame, shut-off and control valves, instrumentation and automation device, security systems, points of control and automation. It is supplied by complete set of factory readiness.
                                li
                                    h5 Gas accounting units.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_11.jpg' alt='img')
                                        .contentList_2-desc
                                            p The units are designed for commercial volume flow  accounting of natural gas reduced to normal conditions and for transfer of information to other systems. The units can be manufactured using turbine meters, measuring diaphragm, vortex, ultrasonic flowmeters, electronic correctors for temperature and gas pressure. They are supplied by complete set of factory readiness.
                                li
                                    h5 Drainage tank unit.
                                    .contentList_2-top
                                        .contentList_2-img
                                            img(src='../img/block_modul/img_12.jpg' alt='img')
                                        .contentList_2-desc
                                            p The unit is designed for collection of liquids and mechanical impurities. It consists of capacity, distribution chamber (if necessary), pump (if necessary), pipe bundle, shut-off and control valves, instrumentation and automation device. They are supplied by complete set of factory readiness.
                            .blue-block
                                p Production of all unit is performed according to Russian standards, according to GOST, at the request of the customer, we manufacture according to the American national standards ASME (American Society of Mechanical Engineers).  In the manufacture of equipment, the steels of the highest quality are used. All the equipment manufactured by us is subject to the World Warranty 30 months from the date of shipment.
                            include componets/f1
                            include componets/partners
                    include componets/footer
        include componets/scripts