include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            main.main
                .burger
                    span
                    span
                    span
                    span
                    span
                .mob-bg-close
                aside.sidebar
                    .sidebar-wrap
                        .sidebar-top
                            .logo
                                p
                                    img(src='../img/Logo.png')
                            .sidebar-location
                                a(href='https://yandex.ua/maps/35/krasnodar/?lang=ru&mode=search&text=%D0%B3.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%2C%20127&sll=30.523541%2C50.450418&sspn=0.504684%2C0.184791&ll=38.975250%2C45.040878&z=17' target='_blank') Krasnodar, st. Red, 127
                                .sidebar-phone
                                    a(href='tel:89182100505') 8 (918) 210-05-05
                            .sidebar-callback
                                a(href='#')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.1 334.02"><defs><style>.cls-1{}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,55.87c1.6-6.6,3.1-13.2,5-19.7.9-3.1,2.6-6.1,4-9.4,27.2,27.7,54,54.9,81.1,82.5-6.9,7.4-5.7,16.7-.3,25.5,4.9,8,10,16.2,16.5,22.9,23.6,24.4,47.9,48.1,71.9,72.2,9.8,9.8,21.9,15.5,34.6,20.3,4.4,1.7,8.2-.1,11.6-2.7,1.4-1.1,2.7-2.4,4.3-3.8l80.7,82.2a38.1,38.1,0,0,1-18.7,7c-37.9,3.8-73.5-1.4-106.9-21.9-50.7-31.1-95.2-68.8-132.3-115.2-17.3-21.7-33-44.6-41.3-71.3C6,110.88,4,96.58,1,82.58c-.3-1.3-.7-2.5-1-3.7C0,71.17,0,63.57,0,55.87Z"/><path class="cls-1" d="M338,294.87c-3.8,9.1-11.3,14.9-18.2,21.3-27.2-27.4-54.3-54.6-80.7-81.3,4.4-4.8,8.8-10.2,14.1-14.8,1.9-1.6,6.2-2,8.6-1.1a34.16,34.16,0,0,1,10.7,7c20.2,19.6,40.2,39.4,60.2,59.1,1.9,1.8,3.6,3.8,5.4,5.7C338,292.17,338,293.58,338,294.87Z"/><path class="cls-1" d="M101.8,97.37q-41.7-40.8-82.1-80.5C24.8,11.37,29.5,5.77,35,1c1.7-1.4,5.7-1.1,8.3-.3s4.8,2.9,6.8,4.8q30.3,29.7,60.5,59.7a42.85,42.85,0,0,1,4,4.5c4.7,6.5,4.4,10-1.1,15.7Z"/></g></g></svg>
                                    | Request a call
                        nav.sidebar-nav
                            ul.menu
                                li
                                    a(href='index.html') HOME PAGE
                                li
                                    a(href='construction_works.html') CONSTRUCTION WORKS
                                li
                                    a(href='block-modular_installations.html') BLOCK-MODULAR INSTALLATIONS
                                li.active
                                    a(href='oil_gas_petrochemical_equipment.html') OIL AND GAS INDUSTRY, PETROCHEMICAL EQUIPMENT
                                li
                                    a(href='power_equipment.html') ENERGY EQUIPMENT
                                li
                                    a(href='installations_for_measuring_debit_wells.html') INSTALLATION FOR MEASURING DEBIT OF WELLS
                                li
                                    a(href='design_work.html') PROJECT WORKS
                                li
                                    a(href='constructor_work.html') DESIGN WORKS
                                li
                                    a(href='installation_commissioning_works.html') MOUNTIG AND START-UP WORKS
                                li
                                    a(href='about.html') ABOUT COMPANY
                .main-wrap
                    .main-language(style="background-image: url('../img/top_bg.jpg');")
                        a(href='../degazatori.html') Switch to Russian
                    .main-container
                        .content
                            .content-img
                                img(src='../img/degazator4.jpg')
                            h2 DEGASSING EQUIPMENT
                            h4 FUNCTION
                            h6 Natural gas extraction and treatment:
                            ul.contentList_3
                                li At condensate treatment plants for gas condensate stabilization;
                                li At gas complex treatment plants for degassing of water-methanol mixture and hydrocarbon liquid;
                                li At glycol recovery plants for glycol solution degassing;
                                li For separation of feed gas with high content of liquid phase at the closing stage of the gas field and gas-condensate field developments;
                                li At the points of gas-liquid mixture preliminary gathering, during treatment for gas and fluid separated transportation to the stations of further utilization and processing.
                            h6 Petroleum extraction and treatment:
                            ul.contentList_3
                                li At oil-gathering points – as slugcatchers;
                                li At the petroleum treatment units – as stabilizing tanks for non-foaming oil degassing and associated gas cleaning;
                                li At drillsites for drilling fluid degassing;
                                li For gas separation and collection of free water from oil emulsion;
                                li For fueling, storage and supply of liquid and gas products under excess pressure.
                            h6 At various production facilities for extraction of dissolved gas from liquids and fluids.
                            h4 DESIGN AND OPERATION PRINCIPLE
                            ul.contentList_3
                                li Liquid with high volume of dissolved gas is supplied into a degassing tank where it is degassed due to pressure release before coming into the tank. Degassing equipment manufactured by LLC S&PA «NefteGazApparat» may be supplied both in horizontal and vertical configurations, vessels are equipped with various types of inner devices depending on the chosen configuration type.
                                li Application of such nozzle also helps to damp liquid flow pulsation while keeping maximum stillness of interface. Horizontal sections of grates are installed in the degassing equipment manufactured by LLC S&PA «NefteGazApparat» in order to prevent wave generation and carryover of liquid drops from liquid surface. Screen knockout drums are installed perpendicular to the gas flow ahead of the separator outlet in order to reduce the volume of dripping liquid carryover with the gas flow.
                                li At Customer’s request degassing equipment may be equipped with inner heating devices and heat insulation. Blocks of the shutoff and control valves and the degasser tank are equipped with drain outlets; vessel also includes nozzles for steaming. Equipment manufactured by LLC S&PA «NefteGazApparat» is supplied in a modular configuration installed on an area with corresponding shipping railway clearances; equipment includes full set of shutoff and control valves, instrumentation and automation.
                            h4 SPECIFICATIONS
                            table.table_1
                                tbody
                                    tr
                                        td Operating pressure, MPa
                                        td From 0.1 to 100
                                    tr
                                        td Operating temperature, 0C
                                        td From -70 to +300
                                    tr
                                        td Device diameter, mm
                                        td Up to 4000
                                    tr
                                        td Device length, mm
                                        td Up to 22000
                                    tr
                                        td Device inner volume, m3
                                        td Up to 200
                                    tr
                                        td Material design of housing, supports
                                        td Carbon steel, stainless steel, molybdenum steel
                                    tr
                                        td Material of inner devices
                                        td Carbon steel, stainless steel, molybdenum steel
                            .blue-block
                                p Warranty period of operation - 25 years from the date of manufacture of the device. World Warranty on degassers by LLC «NGA» is 36 months from the date of manufacture. Production of degassers is performed according to Russian standards, according to GOST, and according to the International standards ASME (American Society of Mechanical Engineers).
                            include componets/f1
                            include componets/partners
                    include componets/footer
        include componets/scripts