include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            main.main
                .burger
                    span
                    span
                    span
                    span
                    span
                .mob-bg-close
                aside.sidebar
                    .sidebar-wrap
                        .sidebar-top
                            .logo
                                p
                                    img(src='../img/Logo.png')
                            .sidebar-location
                                a(href='https://yandex.ua/maps/35/krasnodar/?lang=ru&mode=search&text=%D0%B3.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80%2C%20%D1%83%D0%BB.%20%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F%2C%20127&sll=30.523541%2C50.450418&sspn=0.504684%2C0.184791&ll=38.975250%2C45.040878&z=17' target='_blank') Krasnodar, st. Red, 127
                                .sidebar-phone
                                    a(href='tel:89182100505') 8 (918) 210-05-05
                            .sidebar-callback
                                a(href='#')
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338.1 334.02"><defs><style>.cls-1{}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M0,55.87c1.6-6.6,3.1-13.2,5-19.7.9-3.1,2.6-6.1,4-9.4,27.2,27.7,54,54.9,81.1,82.5-6.9,7.4-5.7,16.7-.3,25.5,4.9,8,10,16.2,16.5,22.9,23.6,24.4,47.9,48.1,71.9,72.2,9.8,9.8,21.9,15.5,34.6,20.3,4.4,1.7,8.2-.1,11.6-2.7,1.4-1.1,2.7-2.4,4.3-3.8l80.7,82.2a38.1,38.1,0,0,1-18.7,7c-37.9,3.8-73.5-1.4-106.9-21.9-50.7-31.1-95.2-68.8-132.3-115.2-17.3-21.7-33-44.6-41.3-71.3C6,110.88,4,96.58,1,82.58c-.3-1.3-.7-2.5-1-3.7C0,71.17,0,63.57,0,55.87Z"/><path class="cls-1" d="M338,294.87c-3.8,9.1-11.3,14.9-18.2,21.3-27.2-27.4-54.3-54.6-80.7-81.3,4.4-4.8,8.8-10.2,14.1-14.8,1.9-1.6,6.2-2,8.6-1.1a34.16,34.16,0,0,1,10.7,7c20.2,19.6,40.2,39.4,60.2,59.1,1.9,1.8,3.6,3.8,5.4,5.7C338,292.17,338,293.58,338,294.87Z"/><path class="cls-1" d="M101.8,97.37q-41.7-40.8-82.1-80.5C24.8,11.37,29.5,5.77,35,1c1.7-1.4,5.7-1.1,8.3-.3s4.8,2.9,6.8,4.8q30.3,29.7,60.5,59.7a42.85,42.85,0,0,1,4,4.5c4.7,6.5,4.4,10-1.1,15.7Z"/></g></g></svg>
                                    | Request a call
                        nav.sidebar-nav
                            ul.menu
                                li
                                    a(href='index.html') HOME PAGE
                                li
                                    a(href='construction_works.html') CONSTRUCTION WORKS
                                li
                                    a(href='block-modular_installations.html') BLOCK-MODULAR INSTALLATIONS
                                li.active
                                    a(href='oil_gas_petrochemical_equipment.html') OIL AND GAS INDUSTRY, PETROCHEMICAL EQUIPMENT
                                li
                                    a(href='power_equipment.html') ENERGY EQUIPMENT
                                li
                                    a(href='installations_for_measuring_debit_wells.html') INSTALLATION FOR MEASURING DEBIT OF WELLS
                                li
                                    a(href='design_work.html') PROJECT WORKS
                                li
                                    a(href='constructor_work.html') DESIGN WORKS
                                li
                                    a(href='installation_commissioning_works.html') MOUNTIG AND START-UP WORKS
                                li
                                    a(href='about.html') ABOUT COMPANY
                .main-wrap
                    .main-language(style="background-image: url('../img/top_bg.jpg');")
                        a(href='../separator_shcelevoy.html') Switch to Russian
                    .main-container
                        .content
                            .content-img
                                img(src='../img/Separator2.jpg')
                            h2 HIGH-EFFICIENCY SLOTTED SEPARATORS of brand SSHV
                            h4 FUNCTION
                            h6 Natural gas extraction and treatment:
                            ul.contentList_3
                                li At the points of gas-liquid mixture preliminary gathering, during treatment for gas and fluid separated transportation to the stations of further utilization and processing;
                                li During gas treatment with low temperature separation method (LTS);
                                li During gas treatment with absorption method – as high-efficiency primary separators; moreover, separator modules can be combined in a single unit (section) due to their small dimensions. For dripping liquid capture at the gas treatment unit outlet;
                                li At booster compressor stations (BCS) for compressor equipment protection;
                                li For effective separation of feed gas with high content of liquid phase at the closing stage of the gas field and gas-condensate field development;
                                li As second stage separator in research mobile separation units (MSU) for carrying out research at the gas field and gas-condensate fields.
                            h6 Petroleum extraction and treatment:
                            ul.contentList_3
                                li At the petroleum treatment units – as separators of different stages of associated gases separation;
                                li As second stage separators in research units for formation fluid makeup.
                            h6 Gas transportation through main pipeline and gas distribution:
                            ul.contentList_3
                                li At line compressor stations (CS) in the gas treatment sections – as slugcatchers, dust boots and dripping liquid separators;
                                li At gas distribution stations (and automated gas distribution stations) – as dripping liquid separators used for prevention of liquid phase passing into the low-pressure and high-pressure gas networks.
                            h6 Fuel gas treatment for power plants in field conditions:
                            ul.contentList_3
                                li Treatment of fuel gas for power plants operating directly at the oil fields for generation of power required for the fields development and operation. At any production facilities – during gas (air) cleaning from liquid and mechanical impurities, for all-gas flow generation.
                            h4 DESIGN AND OPERATION PRINCIPLE
                            ul.contentList_3
                                li Gas-liquid mixture is supplied into the vessel through the inlet connection (2) in the upper part of the vessel. Radial position of the inlet connection ensures high strength characteristics of the separator housing. Vertical plates (6) and (7) installed in this inlet connection provide such flow generation which allows the flow to enter the separator housing keeping its centrifugal effort, in other words as if it was a tangential feed-in. In the inlet connection with the vertical plates (6) and (7) installed inside the pressure loss has decreased by 65% compared with analogue gas supply units without plates. Deflector (8) prevents gas passing in the separation bag core zone without gas mixture preliminary separation. Fluid drops generating in the space between the housing wall (1) and the plates (3), (4), (5) and coming from the separator gas flow and under the action of gravity are transferred along the flow movement and spiral down through the annular gap (11) to the drain connection (12).
                                li Fine dripping liquid which hasn’t settled down on the housing (1) comes on the outer surface of the plates (5), and then it is transferred by the gas flow through the entrance tangential slots and sets on their inner surface. Usage of vertical flat plates bent at specified angle allows fluid film moving along the gas flow rotation to be transported from the end of one plate to the beginning of another due to inertia forces; thus the fluid phase in a form of a film has no time for dispersion into fine liquid inside the separating element, which in turn has positive impact on separation process effectiveness.
                                li Liquid is transferred from one plate to another and with small amount of gas it is directed to the drainage-way (13) where it is transported along the chutes (14) which taper down the gas flow rotation and thrown to the housing wall (1), whereafter separated liquid is removed by means of the drain connection (12). Fluid film generated in the bottom part of the separating element which didn’t come into the bottom drain chute is removed from the separating element through the annular gap formed by the flat bottom (15) and the plates (5). Radial plates (16) with the fastened false bottom (17) exclude any gas flow rotational effect under the false bottom, which ensures that separated liquid runs off unconstrained from the bottom edges of the plates through the annular gap (11) to the drain connection (12). Washer (20) prevents any whirling vortex formation above the connection, which significantly improves liquid drain from the vessel. Fine dripping liquid residue is collected in the confusor (9) by means of annular horizontal and vertical slotted channels. When transporting down the spiral along the inner surface of the baffle’s conical part, film fluid together with small amount of gas flow meets a porous ring. Gas-liquid flow disperses while passing through this porous ring and looses its velocity; as result, liquid settles down on the annular gas plate (18) and pure gas stream is mixed with the major stream and removed from the vessel through the outlet connection (19). Liquid generated in the chamber (10) drains through the annular gap (11) and leaves the separator by means of the drain connection (12).
                            h4 DISTINCTIVE FEATURES
                            ul.contentList_3
                                li High efficiency of separation process in all range of loads both for fluid and gas (from 20% to 120% of nominal capacity);
                                li Low metal consumption and small dimensions;
                                li Possibility to combine a separator and a liquid slugcatcher in one vessel;
                                li No need in replaceable filter elements, wearing and rotating parts;
                                li Operating medium: air, gas, gas-liquid mixture, saturated vapor;
                                li Efficiency of separation process is 99.99% (less than 2-3 my of liquid and mechanical impurities at the separator outlet);
                                li Content of suspended particles at the outlet meets the requirements of “air class 1” standard of GOST 17433-80;
                                li Low pressure loss due to special design of separation bag and inlet connection;
                                li Steady operation in plug flow;
                                li Warranty period of operation - 25 years from the date of manufacture of the device;
                                li World warranty on separators by LLC «NGA» is 36 months from the date of manufacture
                                li High-efficiency slotted separator SSHV is supplied in a turnkey configuration and includes all required set of shutoff and control valves as well as instrumentation and automation.
                                li Production of separators is performed according to Russian standards, according to GOST, and according to the International standards ASME (American Society of Mechanical Engineers).
                            .table-block
                                .table-content
                                    h4 ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
                                    table.table_1
                                        tbody
                                            tr
                                                td Capacity, m3/h
                                                td From 1 to 1 500 000
                                            tr
                                                td Operating pressure, MPa (kgf/cm2)
                                                td From 0.1 (1) to 45 (450)
                                            tr
                                                td Operating temperature, 0C
                                                td From -70 to +400
                                            tr
                                                td Device diameter, mm
                                                td From 125 to 3600
                                            tr
                                                td Material design of housing, supports
                                                td Carbon steel, stainless steel, molybdenum steel
                                            tr
                                                td Material of inner devices
                                                td Carbon steel, stainless steel, molybdenum steel
                                .table-img
                                    img(src='../img/Separator4.jpg' alt='img')
                            include componets/f1
                            include componets/partners
                    include componets/footer
        include componets/scripts