@font-face{
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway-Bold/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold/Raleway-Bold.eot?iefix') format('eot'),
		 url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
		 url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype');
		 font-style: normal;
}

@font-face{
	font-family: 'Raleway-Light';
	src: url('../fonts/Raleway-Light/Raleway-Light.eot');
	src: url('../fonts/Raleway-Light/Raleway-Light.eot?iefix') format('eot'),
		 url('../fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
		 url('../fonts/Raleway-Light/Raleway-Light.ttf') format('truetype');
		 font-style: normal;
}

@font-face{
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular/Raleway-Regular.eot?iefix') format('eot'),
  		 url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
  		 url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype');
  		 font-style: normal;
}

@font-face{
	font-family: 'Raleway-Black';
	src: url('../fonts/Raleway-Black/Raleway-Black.eot');
	src: url('../fonts/Raleway-Black/Raleway-Black.eot?iefix') format('eot'),
		 url('../fonts/Raleway-Black/Raleway-Black.woff') format('woff'),
		 url('../fonts/Raleway-Black/Raleway-Black.ttf') format('truetype');
		 font-style: normal;
}

