@media only screen and ( max-width: 1600px) {
  .main-intro{
    padding-top: 0;
  }
  .footer{
    &-wrap{
      padding-right: 57px;
    }
  }
  .contactsInfo{
    margin-top: 50px;
  }
  .contactsPerson{
    padding-top: 10px;
  }
  .content .table-content{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1430px) {
  .contentForm-input.contentForm-btn{
    margin-top: 30px;
  }
  .contentForm{
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-intro{
    max-width: 800px;
  }
  .arrow-next {
    right: -33px;
  }
  .arrow-prev {
    left: -33px;
  }
}

@media only screen and ( max-width: 1280px){
  .footer-wrap{
    padding-right: 20px;
  }
  .footer{
    padding-left: 20px;
  }
  .main-language{
    left: 380px;
  }
  .sidebar{
    width: 380px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-wrap{
    padding-left: 380px;
  }
  .main-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .contentForm{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and ( max-width: 1250px){
  .arrow-prev{
    left: 0;
    top: auto;
    transform: translateY(0);
    bottom: -115px;
  }
  .arrow-next{
    transform: translateY(0);
    right: 0;
    top: auto;
    bottom: -115px;
  }
  .main-intro{
    max-width: 600px;
  }
}

@media only screen and (max-width: 1030px) {
  .contentList_2-top{
    margin-top: 30px;
  }
  .main-intro{
    max-width: 800px;
  }
  body.open .mob-bg-close{
    z-index: 10;
  }
  .sidebar{
    z-index: 11;
  }
  .contactsInfo{
    margin-top: 30px;
  }
  .main-container.about {
    padding-top: 112px;
  }
  .contactsInfo-item{
    margin-bottom: 20px;
  }
  .contactsPerson-item{
    margin-top: 30px;
  }
  .main-container{
    padding-top: 120px;
  }
  h2{
    margin-top: 45px;
    margin-bottom: 15px;
  }
  .content p,
  .contentList_2 li{
    font-size: 16px;
    line-height: 22px;
  }
  .contentList_2 li p{
    margin-bottom: 20px;
  }
  .main-language{
    left: 0;
  }
  .contentForm{
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .partners{
    margin-bottom: 50px;
  }
  .contentForm h3{
    font-size: 38px;
    margin-bottom: 15px;
  }
  .contentForm-input.contentForm-btn{
    margin-top: 0;
  }
  .burger{
    display: block;
  }
  .sidebar{
    left: -380px;
  }
  .main-wrap{
    padding-left: 0;
  }
  .main-intro{
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-language{
    padding-top: 15px;
    padding-right: 20px;
  }
  .main-intro h1{
    font-size: 40px;
  }
  .main-intro p{
    font-size: 16px;
  }
  .main-btn{
    margin-top: 50px;
  }
  .contentList_1 li{
    font-size: 16px;
  }
}
@media only screen and (max-width: 950px) {
  .contentForm-wrap{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .contentForm-input{
     display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .arrow-prev{
    left: -30px;
  }
  .arrow-next{
    right: -30px;
  }
}
@media only screen and (max-width: 900px) {
  .contentList_2 li{
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .main-intro{
    max-width: 750px;
  }
  .arrow-prev{
    left: 0;
    top: auto;
    transform: translateY(0);
    bottom: -95px;
  }
  .arrow-next{
    right: 0;
    top: auto;
    bottom: -95px;
    transform: translateY(0);
  }

}
@media only screen and (max-width: 750px) {
  .main-intro{
    max-width: 500px;
  }
  .contentList_2-top{
    display: block;
  }
  .contentList_2 li p{
    margin-bottom: 0;
    margin-top: 20px;
    padding-left: 0;
  }
  .content h4{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .content h6{
    font-size: 16px;
  }
  .contentList_3 li{
    font-size: 16px;
    line-height: 20px;
  }
  .contentList_3{
    margin-bottom: 20px;
  }
  .table_1{
    margin-bottom: 30px;
  }
  .btn_list{
    position: relative;
    width: 150px;
    margin-top: 15px;
    a{
      text-align: center;
      padding: 10px 15px;
      font-size: 16px;
    }
  }
  .content-img2{
    display: block;
    img{
      width: 100%;
      max-width: 500px;
    }
  }
  .table-img{
    img{
      width: 100%;
      max-width: 450px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .table_1{
    tbody{
      tr{
        td{
          padding: 10px;
        }
      }
    }
  }
  .content h6{
    font-size: 15px;
  }
  .content h4{
    font-size: 18px;
  }
  .arrow-prev{
    bottom: -65px;
  }
  .arrow-next{
    bottom: -65px;
  }
  .main-intro{
    max-width: 400px;
  }
  .callbackForm-input.callbackForm-btn:after{
    left: 95px;
  }
  .popup-content h6{
    font-size: 30px;
  }
  .popup-content>p{
    font-size: 16px;
  }
  .popup-wrap{
    padding: 40px 20px 50px;
  }
  .map-container{
    .ymaps-2-1-60-map{
      width: 100% !important;
    }
  }
  iframe{
    overflow: hidden;
    width: 100%;
    max-width: 320px;
  }
  .contentList_1 li{
    font-size: 14px;
  }
  .main-container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
  }
  .contentList_2 li, .content p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .content b{
    font-size: 16px;
    display: inline-block;
    margin-top: 0;
  }
  .contentList_2 li{
    margin-top: 0;
  }
  .contentList_2 li h5{
    font-size: 16px;
  }
  .contentForm h3{
    font-size: 22px;
  }
  .contentList_2-top{
    margin-top: 15px;
  }
  .blue-block{
    padding: 15px;
  }
  .contentForm{
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .contentForm-input input{
    font-size: 16px;
  }
  .footer-wrap{
    display: block;
    text-align: center;
    p{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 10px;
      }
    }
  }
  .content b{
    font-size: 14px;
  }
  .contentList_1 li{
    padding: 10px 25px;
  }
  .blue-block p{
    margin-bottom: 10px;
  }
  .main-language a{
    font: $rb;
    font-size: 16px;
  }
  .contentList_2-img{
    width: 100%;
    height: auto;
    img{
      width: 100%;
    }
  }
  .contentList_2 li{
    padding-left: 10px;
    padding-right: 10px;
  }
  .contentList_2 li p{
    margin-top: 10px;
  }
  .contentList_2{
    margin-top: 20px;
  }
  h2{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .sidebar{
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-btn a {
    padding: 16px 37px 13px 28px;
  }
  .logo p img{
    max-width: 100%;
  }
  .logo p{
    max-width: 200px;
    margin: 0 auto;
  }
  .sidebar-location a{
    font-size: 16px;
  }
  .sidebar-location{
    margin-top: 15px;
  }
  .menu li a{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    br{
      display: none;
    }
  }
  .menu{
    margin-top: 20px;
  }
  .menu li a:hover{
    background: #fff;
    color: #000;
  }
  .sidebar-callback a{
    font-size: 16px;
    padding-top: 15px;
  }
  .sidebar-callback{
    height: 54px;
  }
  .burger.active{
    left: 300px;
  }
  .main-intro h1{
    font-size: 30px;
  }
  .main-intro p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }
  .main-btn{
    margin-top: 20px;
    a{
      font-size: 16px;
    }
  }
  .main-language a{
    font-size: 14px;
  }
  .main-language{
    padding-right: 15px;
  }
  .main-intro{
    padding-left: 15px;
    padding-right: 15px;
  }
  .contactsInfo h5{
    font-size: 24px;
  }
  .contactsInfo a{
    font-size: 14px;
  }
  .contactsPerson-item a{
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .arrow-prev{
    bottom: -135px;
    left: 28px;
  }
  .arrow-next{
    bottom: -135px;
    right: 28px;
  }
  .main-intro{
    max-width: 350px;
  }
}
@media only screen and (max-width: 390px) {
  .callbackForm-input.callbackForm-btn:after{
    left: 70px;
  }
}
@media only screen and (max-width: 350px) {
  .main-intro{
    max-width: 320px;
  }
  .callbackForm-input.callbackForm-btn:after{
    left: 50px;
  }
  .burger.active{
    left: 10px;
  }
  iframe{
    max-width: 290px;
  }
  .popup-content h6{
    font-size: 24px;
  }
}