$black: #130f11;
$gold: #efd8a9;
$red: #e9242d;


$rr: 100% 'Raleway-Regular', sans-serif;
$rb: 100% 'Raleway-Bold', sans-serif;
$rl: 100% 'Raleway-Light', sans-serif;
$rblack: 100% 'Raleway-Black', sans-serif;

