footer.footer
    .footer-wrap
        p Все права защищены
        p Разработка и продвижение
            a(href='http://deepprofy.ru/') DeepProfy
.hidden
    .popup#callback
        .popup-bg
        .popup-wrap
            .popup-close
                span
                span
            .popup-content
                h6 Перезвоним в течение 1 минуты!
                p У нас индивидуальный подход к каждомы клиенту. Оставьте заявку и мы немедленно перезвоним и проконсультируем Вас.
                form.callbackForm#callbackForm(method='post' action='/' data-required='Это поле об`язательно для заполнения')
                    .callbackForm-wrap
                        .callbackForm-input.callbackForm-words
                            input(type='text' name='user_name' id='user_name' placeholder='Ваше имя' required)
                        .callbackForm-input.callbackForm-words
                            input(type='text' name='user_phone' id='user_phone' placeholder='Ваш телефон' required)
                        .callbackForm-input.callbackForm-btn
                            input(type='submit' value='Заказать звонок')