.partners
    .partners-wrap
        h4 Наши партнеры
        ul.partners-list
            li
                img(src='img/partners/Gazprom.jpg')
            li
                img(src='img/partners/Rosneft.jpg')
            li
                img(src='img/partners/Tatneft.jpg')
            li
                img(src='img/partners/Bashneft.jpg')
            li
                img(src='img/partners/Gea.jpg')
            li
                img(src='img/partners/Volgodemenoil.jpg')
            li
                img(src='img/partners/ufgd.jpg')
            li
                img(src='img/partners/Beltransgaz.jpg')
            li
                img(src='img/partners/Kazanskoye-motorostroitelnoye.jpg')
            li
                img(src='img/partners/magnitogorskiy.jpg')
            li
                img(src='img/partners/techno.jpg')
            li
                img(src='img/partners/nipigaz.jpg')
            li
                img(src='img/partners/msolution.jpg')